[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "*"
gunicorn= "==19.9.0"
djangorestframework = "*"
django-webpack-loader = "*"

[requires]
python_version = "3.6"
